.homebg {
  border-radius: 30px;
  height: 600px !important;
  width: 100vw !important;
}

.css-1vcu4nh-MuiGrid-root {
  padding-top: 100px !important;
  padding-bottom: 150px !important;
}

.css-1qttxc2 {
  height: unset !important;
}
