@font-face {
  font-family: "felix-titling-regular";
  src: url("./fonts/Felixti.TTF") format("truetype");
}

.css-wztqdw-MuiPaper-root-MuiCard-root {
  background-color: #22283f !important;
}


.css-6h1u2o {
  height: unset !important;
}

.css-vuuwxc {
  width: unset !important;
}

.css-28xbig-MuiGrid-root {
  margin: unset !important;
}
.ppppppp{
  padding: 0 40px;
  padding-top: 200px;
  background-color: #22283F
}
.css-1wnsr1i{
  background-color: gray !important;
}

@media screen and (min-width:1400px) {
  .MuiContainer-root {
    max-width: 100% !important;
  }
}
@media screen and (max-width:667px) {
  .ppppppp{
    padding: 0 0;
    /* padding-top: 200px;
    background-color: #22283F */
  }
}